dummy:

cluster_name: dc1

containerized: true

# Set the backend options, mgr+prometheus or cephmetrics+graphite
#backend:
#  metrics: mgr  # mgr, cephmetrics
#  storage: prometheus  # prometheus, graphite

# Turn on/off devel_mode
#devel_mode: true

# Set grafana admin user and password
# You need to change these in the web UI on an already deployed machine, first
# New deployments work fine
grafana:
  admin_user: admin
  admin_password: redhat01
  container_name: {{ repo_node }}:5000/rhceph/rhceph-3-dashboard-rhel7
prometheus:
  container_name: {{ repo_node }}:5000/openshift3/prometheus
  etc_hosts:
    10.0.0.11: cepha.summit.lab
    10.0.0.12: cephb.summit.lab
    10.0.0.13: cephc.summit.lab 
    10.0.0.14: metricsd.summit.lab
    172.16.0.11: ceph1.summit.lab
    172.16.0.12: ceph2.summit.lab
    172.16.0.13: ceph3.summit.lab 
    172.16.0.14: metrics4.summit.lab 
