[rhel-7-server-extras-rpms]
baseurl = http://{{ repo_node }}/repo/rhel-7-server-extras-rpms
gpgcheck = 0
enabled = 1

[rhel-7-server-rpms]
baseurl = http://{{ repo_node }}/repo/rhel-7-server-rpms
gpgcheck = 0
enabled = 1

[rhel-7-server-rhceph-3-tools-rpms]
baseurl = http://{{ repo_node }}/repo/rhel-7-server-rhceph-3-tools-rpms
gpgcheck = 0
enabled = 1
