### OSD Configuration ###

#valid_osd_scenarios:
#  - collocated
#  - non-collocated
#  - lvm
#osd_scenario: lvm
# Number of OSDS per drive that we want to configure
#osds_per_device: 1

# Declare devices to be used as OSDs
#devices:
#  - /dev/vdX
#  - /dev/vdX
